<div class="container">
    <div class="row">
      <div class="col-6 text-justify">
        <img
          src="https://www.scnsoft.com/_default_upload_bucket/iot-in-manufacturing-main.png"
          alt="" width="625">
      </div>
      <div class="col-6 text-justify">
        <p>
          Now a days everything is getting smarter so why not the Manufacturing Industries. 
          Using right Technology for Digitally Transformation can make Manufacturing Industries and their processes smarter.
          
        </p>
        <p>
          Machine Learning offers enormous potential for Manufacturing Industries to make their process smarter to detect
          failure and plan maintenance in advance to minimize downtime, to test the quality of output product without human
           interventions. It can help industries to decide whether a product is good to send to market or has any defect. 
        </p>
        <p>
          Digital transformation in Manufacturing is evolving, and every evolution has unique challenges. As Industries
          move toward automation, it is essential to consider how their processes will evolve with the technology. 
          This can be difficult given that many traditional manufacturing processes are built around human interaction
           and may not be easily or quickly adaptable.
        </p>
        <p>
          Machine Learning, IOT (Internet of Things), and Data Analytics together offer a smarter processing solution
         to Manufacturing Industries. This combination can increase the useful life of machines, help to plan advance
         maintenance activity, help to identify defective products, and help in deciding a proper safety measure at workplace. 
        </p>
      </div>
    </div> 
    <div class="row">
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Features</h5>
            <ul class="card-text">
              <li>Data Preparation</li>
              <li>Build Models</li>
              <li>Train Pre-Built Models</li>
              <li>Deploy Models</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Benefits</h5>
            <ul class="card-text">
              <li>Create production ready ML models</li>
              <li>Mapping Datasets to Datamodels</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>